*{
    font-family: 'Dancing Script', cursive;
}




@media (min-width:901px) {


     #bloque1{
       width:100%;
       display: flex;
       flex-direction: row;
       background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    animation:slidein 1s;

      }

  @-webkit-keyframes slidein{
    0%{
    margin-top:150%;
    }

    60%{
    margin-top:72.5%;
    }
  100%{
  margin-top:-5%;
  }

  }


    nav{
      display: flex;
      flex-direction: row;
   flex-grow: 1;
   width: 25%;
   display: flex;
   justify-content: space-around;
   align-items: center;
    }

   nav>h2{
      margin:20px 2% 20px 2%;
      width:  33%;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   a{
     color:white;
     }

   #Paisajes{
   text-decoration: none;
   }

   header{
    flex-grow: 4;
    margin:12px 5% 12px 5%;

}

body{
  background-color: black;
  margin:0px 8% 15% 8%;
}
header>h1{
  text-shadow: 2px 2px #02010a;
  color:white;
}
figure{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: center;
  margin:0;
  background-color:  #d5c75f;
  width: 100%;
  border: 1px;
}

img[alt="costaverde"]{
  width: 28%;
  height: 30%;
  margin: 10px 2% 10px 2% !important  ;

}



#imagen1{
  -webkit-filter:blur(10px);
  filter:blur(10px);
}

img:nth-child(even){
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}

#imagen3{
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}

footer{
 background-color:#C6d5c5;
 width: 100%;
 border-radius:  0px 0px 10px  10px;
 display: flex;
 flex-direction: row;


 }
footer>div{
 flex-grow: 1;
 margin-left: 2%;
 margin-right:  2%;
 font-size: 20px;
margin-bottom: 30px;
}



  }

@media (max-width:900px) {

  #bloque1{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    animation:slidein 1s;
   }

   @-webkit-keyframes slidein{
   0%{
   margin-top:150%;
   }

   60%{
   margin-top:72.5%;
   }
   100%{
   margin-top:-5%;
   }

   }

   nav{
     display: flex;
     flex-direction: row;
  flex-grow: 1;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;

   }

  nav>h2{
     margin:20px 4% 20px 4%;
     width:  30%;
     display: flex;
     justify-content: space-around;
     align-items: center;

  }

  a{
    color:white;
    }

#Paisajes{
text-decoration: none;
 }
  header{
   flex-grow: 4;
   margin:12px 5% 12px 5%;

}

body{
 background-color: black;
 margin:0px 2% 2% 2%;
}
header>h1{
 text-shadow: 2px 2px #02010a;
 color:white;
}

figure{
  display: flex;
  flex-flow:column wrap;
  justify-content: space-around;
  align-items: center;
  margin:0;
  background-color:  #d5c75f;
  width: 100%;
  border: 1px;
}

img[alt="costaverde"]{
  width: 90%;
  height: 90%;
  margin: 10px 2% 10px 2% !important  ;

}


#imagen1{
  -webkit-filter:blur(10px);
  filter:blur(10px);
}

img:nth-child(even){
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}

#imagen3{
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}

footer{
 background-color:#C6d5c5;
 width: 100%;
 border-radius:  0px 0px 10px  10px;
 display: flex;
 flex-direction: column;


 }
footer>div{
 flex-grow: 1;
 margin-left: 10%;
 margin-right:  2%;
 font-size: 100%;
margin-bottom: 20px;

}

footer>div>h1{
  margin-bottom: 0px;
}

img[title|="paisajes"]:hover{

   animation: panimacion 3s;
   }



img[title|="retratos"]:hover{

animation: mianimacion 1.5s;
}


@-webkit-keyframes panimacion{

 to{
   transform: rotate(10deg);
   }
}

@-webkit-keyframes mianimacion{

 to{
   transform: translate(5px,-20px);
   }



 }
